<!DOCTYPE html>
<html lang="<%= settings.language %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Arun Raj | {{ .Site.Data.settings.name }}</title>
    {{ if eq .Site.Params.env "production" }}
      <link rel="stylesheet" href="/assets/all.css">
    {{ end }}
    {{ .Site.Data.settings.faviconMetaTags | safeHTML }}
    {{ if isset .Params "seometatags" }}
      {{ .Params.seometatags | safeHTML }}
    {{ else }}
      {{ .Site.Data.settings.seoMetaTags | safeHTML }}
    {{ end }}
    <!-- Statcounter-->
<script type="text/javascript">
var sc_project=9373358; 
var sc_invisible=1; 
var sc_security="ca709477"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<script>
if (location.host == portfolio.arunraj.me)
{
location.replace(location.href.replace(portfolio.arunraj.me, arunraj.me/portfolio));
}
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34033689-1', 'auto');
  ga('send', 'pageview');
</script>
  </head>
  <body>
    <div class="container">
      <div class="container__sidebar">
        <div class="sidebar">
          <h6 class="sidebar__title">
            <a href="/">{{ .Site.Data.settings.name }}</a>
          </h6>

          <div class="sidebar__intro">
            {{ .Site.Data.settings.intro | markdownify }}
          </div>
<!--commented on 15/06/2022
          <ul class="sidebar__menu">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
              <li{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class="is-active"{{end}}>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>

          <p class="sidebar__social">
            {{ range .Site.Data.settings.socialProfiles }}
              <a href="{{ .url }}" class="social social--{{ .type }}"></a>
            {{ end }}
          </p>
-->
          <div class="sidebar__copyright">
            {{ .Site.Data.settings.copyright }}
          </div>
        </div>
      </div>
      <div class="container__body">
        <div class="container__mobile-header">
          <div class="mobile-header">
            <div class="mobile-header__menu">
              <a href="#" class="hamburger"></a>
            </div>
            <div class="mobile-header__logo">
              <a href="/index.html">{{ .Site.Data.settings.name }}</a>
            </div>
          </div>
        </div>
